<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<script>
    "use strict";

    const isValidPassword = function (password) {
        return  {
            isValid: (password.length >= 8),
            message: 'Password must have at least 8 characters long'
        };
    }

    const isPasswordConfirmed = function (password, confirmPassword) {
        return  {
            isValid: password === confirmPassword,
            message: 'The password confirmation does not match'
        };
    }

    function validateForm(){
        let password = document.getElementById("password");
        let confirmPassword = document.getElementById("confirmPassword");

        let v = validateInput(password, isValidPassword(password.value));
        if(v){
            let v1 = validateInput(confirmPassword, isPasswordConfirmed(password.value, confirmPassword.value));
            v = v && v1
        }
        return v;
    };

    const validateInput = (inputElement, v) => {
        let errorElement = inputElement.nextElementSibling;
        errorElement.innerHTML = v.isValid ? '' : v.message; // display the error message
        v.isValid ? inputElement.classList.remove("is-invalid") : inputElement.classList.add("is-invalid");
        return v.isValid;
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mt-5">
                <div class="card-header text-center"><b>Register</b></div>
                <div class="card-body">
                    <form action="/saveUser" onsubmit="return validateForm()" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark mb-3">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
