<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="/js/passwordFunc.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mt-5">
                <div class="card-header text-center"><b>Register</b></div>
                <div class="card-body">
                    <form action="/register/saveUser" method="post" id="passwordForm" class="">

                        <input type="hidden" name="firstName" value="<%=firstName%>">
                        <input type="hidden" name="lastName" value="<%=lastName%>">
                        <input type="hidden" name="email" value="<%=email%>">

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" title="spaces are not allowed!" pattern="[\S]*" minlength="8" required>
                        </div>

                        <div class="mb-3">
                            <label for="PasswordConfirmation" class="form-label">Confirm Password</label>
                            <input type="password" name="PasswordConfirmation" class="form-control" id="PasswordConfirmation" placeholder="Confirm Password" required>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-dark mb-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
